<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% allData.map(dat => { -%>
        <div>
            <p><%= dat.name %></p>
            <p><%= dat.price %></p>
            <img src="/uploaded-photo/<%=dat.photo%>" alt="alt">
        </div>
        

  <%  }) -%>

    
</body>
</html>